# Virtual Environment
.otelio/
.venv/

# Environment Variables / Secrets
.env

# Local Databases & Vector Stores
chroma_db/
reservations.db
src/reservations.db

# Logs
otelio.log
experiments/otelio.log

# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Excalidraw design backups
otelio.excalidraw
otelio.excalidraw.png
